<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="~/Name.cshtml" method="GET">
        <input type="text" name="name"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
